<div class="hero is-fullheight is-dark has-background">
  <img src="/assets/img/home-bg.jpg" alt="" class="hero-background is-transparent">
   <div class="hero-body">
     <div class="container has-text-centered">
      <!-- Add game button-->
      <nav class="level">
        <div class="level-left">
          <div class="notification is-link" *ngIf="editSuccess === true">
            <button class="delete" (click)="closeNotification()"></button>
            Success!
          </div>
          <div class="notification is-danger" *ngIf="editFail === true">
            <button class="delete" (click)="closeNotification()"></button>
            Oops... Something went wrong.
          </div>
        </div>
        <p class="level-item has-text-centered">
          <!--fodder html that makes the button behave as wanted-->
        </p>
        <div class="level-right">
          <p class="level-item">
            <button class="button is-link" (click)="createGame(editModal,gameName,gameGenre,gameImg)">
              Register a New Game
            </button>
          </p>
        </div>
      </nav>

      <!-- Add game button-->
      <h1 class="title"> Available Games </h1>
       <!--  CARD  -->
      <section class="boxes"*ngIf="gameVet.length > 0">
        <div class="container">
          <div class="box" *ngFor="let game of gameVet; let i = index;">
            <div class="card-image" *ngIf="game != null">
              <figure class="image is-16by9">
                <img [src]="game.cover_image" alt="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>
            <h2><i class="fas fa-arrows-alt-v"></i>{{game.name}}</h2>
            <p>
              {{game.genre}}
            </p>
            <hr class="navbar-divider">
            <div class="buttons">
              <button class="button is-dark" (click)="goToAchievs(game.id)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button class="button is-dark" (click)="editGame(game.id, editModal,gameName,gameGenre,gameImg)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </section>
       <!-- CARD   -->
       <section *ngIf="gameVet.length <= 0">
        <h3> Oops... seems like we are out of games.</h3>
      </section>
      <!-- PAGINATION ELEMENT -->
      <nav class="pagination is-large" role="navigation" aria-label="pagination">
        <a class="pagination-previous"(click)="goToPrevious()">Previous</a>
        <a class="pagination-next"(click)="goToNext()">Next page</a>
        <ul class="pagination-list">
          <li *ngFor="let page of counter(totalPages); let i = index;" >
            <a class="pagination-link"
                aria-label="Goto page"
                (click)="goToPage(i)"
                *ngIf="pageNumber != i">{{i+1}}</a>
            <a class="pagination-link is-current"
                aria-label="Page active" aria-current="page"
                *ngIf="pageNumber == i">{{i+1}}</a>
          </li>
        </ul>
      </nav>
      <!-- PAGINATION ELEMENT -->
     </div>
   </div>
 </div>


 <!-- MODAL TO EDIT/CREATE GAME -->
 <div class="modal is-dark" #editModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title" *ngIf="isEdit === true;">Edit Game</p>
      <p class="modal-card-title" *ngIf="isEdit === false;">Add Game</p>
      <button class="delete" aria-label="close" (click)="toggleModal(editModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Tetris" #gameName>
        </div>
      </div>

      <div class="field">
        <label class="label">Genre</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. Puzzle" #gameGenre>
        </div>
      </div>

      <div class="field">
        <label class="label">Cover Image URL</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. someurl.com/somepic" #gameImg>
        </div>
      </div>
    </section>
    <!-- Content ... -->
    <footer class="modal-card-foot">
      <button class="button is-link"
      (click)="editSubmit(gameName.value, gameGenre.value, gameImg.value, editModal)"
      *ngIf="isEdit === true">
        Confirm Edit
      </button>
      <button class="button is-link"
      (click)="createSubmit(gameName.value, gameGenre.value, gameImg.value, editModal)"
      *ngIf="isEdit === false">
        Register!
      </button>
      <button class="button is-link is-light" (click)="toggleModal(editModal)">Cancel</button>
    </footer>
  </div>
</div>
 <!-- MODAL TO EDIT/CREATE GAME-->


