<div class="hero is-fullheight is-dark has-background">
  <img src="/assets/img/home-bg.jpg" alt="" class="hero-background is-transparent">
   <div class="hero-body">
     <div class="container has-text-centered">
       <h1 class="title"> Available Games </h1>
       <!--  CARD  -->
      <section class="boxes"*ngIf="gameVet.length > 0">
        <div class="container">
          <div class="box" *ngFor="let game of gameVet; let i = index;">
            <div class="card-image" *ngIf="game != null">
              <figure class="image is-16by9">
                <img [src]="game.cover_image" alt="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>
            <h2><i class="fas fa-arrows-alt-v"></i>{{game.name}}</h2>
            <p>
              {{game.genre}}
            </p>
            <div class="buttons">
              <button class="button is-dark" (click)="goToAchievs(game.id)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button class="button is-dark" (click)="getGameById(game.id, achievModal)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </section>
       <!-- CARD   -->
       <section *ngIf="gameVet.length <= 0">
        <h3> Oops... seems like we are out of games.</h3>
      </section>
      <!-- PAGINATION ELEMENT -->
      <nav class="pagination is-large" role="navigation" aria-label="pagination">
        <a class="pagination-previous"(click)="goToPrevious()">Previous</a>
        <a class="pagination-next"(click)="goToNext()">Next page</a>
        <ul class="pagination-list">
          <li *ngFor="let page of counter(totalPages); let i = index;" >
            <a class="pagination-link"
                aria-label="Goto page"
                (click)="goToPage(i)"
                *ngIf="pageNumber != i">{{i+1}}</a>
            <a class="pagination-link is-current"
                aria-label="Page active" aria-current="page"
                *ngIf="pageNumber == i">{{i+1}}</a>
          </li>
        </ul>
      </nav>
      <!-- PAGINATION ELEMENT -->
     </div>
   </div>
 </div>


 <!-- MODAL TO SHOWCASE ACHIEVEMENTS-->
 <div class="modal is-dark" #achievModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title">Available Achievements</p>
      <button class="delete" aria-label="close" (click)="toggleModal(achievModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <section class="boxes"*ngIf="achievVet.length > 0">
        <div class="container">
          <div class="box" *ngFor="let achievement of achievVet; let i = index;">
            <div class="card-image" *ngIf="achievement != null">
              <figure class="image is16by9">
                <img [src]="achievement.picture" alt="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>
            <h2><i class="fas fa-arrows-alt-v"></i> {{achievement.name}} </h2>
            <p>
              {{achievement.description}}
            </p>
          </div>
        </div>
      </section>
      <h1 *ngIf="achievVet.length <= 0">No achievements available.</h1>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Add Achievement</button>
    </footer>
  </div>
</div>
 <!-- MODAL TO SHOWCASE ACHIEVEMENTS-->
