
<div class="hero is-fullheight is-dark has-background">
  <img src="/assets/img/player-bg.jpg" alt="" class="hero-background is-transparent">
   <div class="hero-body">
     <div class="container has-text-centered">
       <h1 class="title"> Player Listing </h1>
       <!--  CARD  -->
        <section class="boxes"*ngIf="playerArray.length > 0"
            infinite-scroll
            (scrolled)="onScrollDown($event)">
          <div class="container">
            <div class="box" *ngFor="let player of playerArray; let i = index;">
              <div class="card-image" *ngIf="player != null">
                <figure class="image">
                  <img [src]="player.profilePic" alt="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
              </div>
              <div class="player-text">
                <h2><i class="fas fa-arrows-alt-v"></i>{{player.name}}</h2>
                <p> {{player.email}} </p>
              </div>
              <div class="unlock-text" *ngIf="player.unlockedAchievements.length > 0">
                Some unlocks:
              </div>
              <div class="card-image" *ngFor="let achievement of getRandomAchievements(player.unlockedAchievements);">
                <figure class="achiev-image">
                  <img [src]="achievement.picture" alt="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
              </div>
              <div class="buttons">
                <button class="button is-dark" (click)="viewAllAchievements(player, viewAllModal)">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </section>
       <!-- CARD   -->
        <section *ngIf="playerArray.length <=0">
          <h3> Oops... seems like there are no players.</h3>
        </section>
      </div>
   </div>
</div>

<!-- All achievs visualization modal -->
<div class="modal" #viewAllModal>
  <div class="modal-background"></div>
  <div class="modal-content" *ngIf="selectedPlayer != null">
    <!-- Any other Bulma elements you want -->
    <div class="title" *ngIf="selectedPlayer.unlockedAchievements.length <= 0">
      This player has no achievements yet!!
    </div>
    <div class="card" *ngFor="let game of selectedPlayer.ownedGames">
      <header class="card-header">
        <p class="card-header-title">
          {{game.name}}
        </p>
      </header>
      <div class="boxes" *ngFor="let achievement of selectedPlayer.unlockedAchievements">
        <div class="box" *ngIf="achievement.gameId === game.id">
          <div class="card-image" *ngIf="achievement != null">
            <figure class="image">
              <img [src]="achievement.picture" alt="https://bulma.io/images/placeholders/1280x960.png">
            </figure>
        </div>
        <div class="achiev-text">
          <h2><i class="fas fa-arrows-alt-v"></i>{{achievement.name}}</h2>
          <p> {{achievement.description}} </p>
        </div>
      </div>
    </div>
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggleModal(viewAllModal)"></button>
</div>
<!-- All achievs visualization modal -->
