<div class="hero is-fullheight is-dark has-background">
  <img src="/assets/img/home-bg.jpg" alt="" class="hero-background is-transparent">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Unlockable Achievements</h1>
      <!--  CARD  -->
      <section class="boxes" *ngIf="achievementArray.length > 0">
        <div class="container">
          <div class="box" *ngFor="let achievement of achievementArray; let i = index;">
            <div class="card-image" *ngIf="achievement != null">
              <figure class="image is16by9">
                <img [src]="achievement.picture" alt="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>
            <h2><i class="fas fa-arrows-alt-v"></i> {{achievement.name}} </h2>
            <p>
              {{achievement.description}}
            </p>
          </div>
        </div>
      </section>
      <!-- CARD   -->
      <section *ngIf="achievementArray.length <=0">
        <h3> There are no achievements available for this game.</h3>
      </section>
      <button class="button is-link" (click)="toggleModal(addAchievModal)">Add Achievement</button>
    </div>
  </div>
</div>

<!-- ADD ACHIEV MODAL HERE-->
<div class="modal is-dark" #addAchievModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title">Add Achievement</p>
      <button class="delete" aria-label="close" (click)="toggleModal(addAchievModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Just Started" #achievName>
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. Complete the Tutorial" #achievDesc>
        </div>
      </div>

      <div class="field">
        <label class="label">Picture URL</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. someurl.com/somepic" #achievPic>
        </div>
      </div>
       <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-link" (click)="createAchievement(achievName.value, achievDesc.value, achievPic.value, addAchievModal)">Confirm</button>
      <button class="button is-link is-light" (click)="toggleModal(addAchievModal)">Cancel</button>
    </footer>
  </div>
</div>
<!-- ADD ACHIEV MODAL-->
