<div class="hero is-fullheight is-dark has-background">
  <img src="/assets/img/home-bg.jpg" alt="" class="hero-background is-transparent">
   <div class="hero-body">
     <div class="container has-text-centered">
       <div class="card-is-dark">
         <header class="card-header">
           <p class="card-header-title">
             Create your Account
           </p>
         </header>
         <div class="card-content">
           <div class="content">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" #name>
              </div>
            </div>
             <div class="field">
               <label class="label">Email</label>
               <div class="control">
                 <input class="input" type="text" #email>
               </div>
             </div>
             <div class="field">
               <label class="label">Password</label>
               <div class="control">
                 <input class="input" type="password" #password>
               </div>
             </div>
           </div>
         </div>
         <footer class="card-footer">
           <button class="button is-dark" (click)="registerAccount(name.value, email.value, password.value)">Sign Up</button>
           <button class="button is-dark" (click)="backToLogin()">Back to Login</button>
         </footer>
       </div>
     </div>
   </div>
 </div>
